.App {
	min-height: 100vh;
}

footer {
	background-color: #333;
	color: white;
}

.main-area {
    flex: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

.main-color-border {
	border-color: #343a40;
    border-width: 3px;
    border-style: solid;
    border-radius: 15px;
    padding: 10px;
}

.field_with_errors	label {
		color: #dc3545;
}
.field_with_errors	input {
		border-color: #dc3545;
}

.list-group-item:hover {
	background-color: #cccccc;
}
